.container {
  background-color: #282D35;
  height: 94vh;
  padding: 20px 25px;
}

h1 {
  padding: 20px 0;
  color: #fff;
}

ul {
  list-style: none;
  line-height: 2rem;
}

ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61DAFB;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

li {
  color: #fff;
}